<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>

<h2 class="mb-2">Usuarios registrados</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Correo</th>
      <th scope="col">Validado</th>
    </tr>
  </thead>
  <tbody id="cuerpo">
      {{#each usuarios}}
        <tr>
            <td>{{@index}}</td>
            <td>{{this.nombre}}</td>
            <td>{{this.email}}</td>
            <td><input type="checkbox" {{#if this.auth}} checked {{/if}} 
            onclick="changeStatus({{this.id}}, this)" value="1"> </td>
        </tr>
      {{/each}}
  </tbody>
</table>

<script>
    const changeStatus = async (id, e) => {
        let auth = e.checked
        await axios.put("http://localhost:5003/usuarios", {
            id,
            auth
        })
        alert(auth ? "Usuario habilitado para subir fotos" : "Usuario deshabilitado para subir fotos")
    }
</script>

<style>
  body {
    background: black;
    color: white;
    text-align: center;
    padding: 50px;
  }
  td,
  th {
    color: white;
    text-align: center;
  }

  .col {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
</style>
